black==21.10b0
darglint==1.4.0
datasets==1.14.0
flake8-annotations==2.1.0
flake8-bandit==2.1.2
flake8-bugbear==20.1.4
flake8-docstrings==1.5.0
ipykernel==6.5.0
pre-commit==2.15.0
pyLDAvis==3.3.1
tomotopy==0.12.2
